name: Version & Publish

on:
  workflow_dispatch:
    inputs:
      newversion:
        description: 'Semantic Version Bump Type (major/minor/patch)'
        required: true

env:
  node_version: 14

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    env:
      CONFIGURATION: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      
      - name: Checkout ${{ steps.extract_branch.outputs.branch }}
        run: git checkout ${{ steps.extract_branch.outputs.branch }}
        
      - name: Initialize Submodules
        run: git submodule update --init
        
      - name: Setup Git
        run: |
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global user.name "${GITHUB_ACTOR}"
      
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v2.1.1
        with:
          node-version: ${{ env.node_version }}
          registry-url: 'https://registry.npmjs.org'
          
      - name: Install Packages
        run: |
          npm install
          git add package*.json
        
      - name: Build
        run: |
          npm run build
          git add rebar3/

      - name: Test
        run: npm run test

      - name: Bump Version
        run: |
          npm version ${{ github.event.inputs.newversion }} \
          --no-git-tag-version
        
      - shell: bash
        run: echo "##[set-output name=version;]$(echo $(npm run version --silent))"
        id: extract_bump_version
  
      - name: Create Release Branch
        run: git checkout -b release-${{ steps.extract_bump_version.outputs.version }}
        
      - name: Create Changelog
        run: |
          npm run changelog
          git add CHANGELOG.md

      - name: Commit Changes
        run: |
          git commit -am "Bumped Version to ${{ steps.extract_bump_version.outputs.version }} (${{ github.event.inputs.newversion }})"
          
      - name: Tag Version
        run: |
          git tag -a v${{ steps.extract_bump_version.outputs.version }} \
          -m "Version ${{ steps.extract_bump_version.outputs.version }} (${{ github.event.inputs.newversion }})"

      - name: Push Release Branch
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: release-${{ steps.extract_bump_version.outputs.version }}
          tags: true

      - name: Merge Branches
        run: |
          git checkout ${{ steps.extract_branch.outputs.branch }}
          git merge release-${{ steps.extract_bump_version.outputs.version }}
          
      - name: Push Branch ${{ steps.extract_branch.outputs.branch }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ steps.extract_branch.outputs.branch }}
          tags: true
          
      - name: Publish to Npm Registry
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
